
#back2Top {
  width: 40px;
  line-height: 40px;
  overflow: hidden;
  z-index: 999;
  display: none;
  cursor: pointer;
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  position: fixed;
  bottom: 50px;
  right: 10px;
  background-color: #0b730e;
  color: #ffffff;
  text-align: center;
  font-size: 30px;
  text-decoration: none;
  border-radius: 5px;
  -webkit-transition: all 0.5s;
   -moz-transition: all 0.5s;
   -o-transition: all 0.5s;
  transition: all 0.5s;
}
#back2Top:hover {
  background-color: #1ba74d;
  color: #ffffff;
  -webkit-transition: all 0.5s;
   -moz-transition: all 0.5s;
   -o-transition: all 0.5s;
  transition: all 0.5s;
}

/* .node-type-link a:after{
  content: "";
  display: block;
  height: 3px;
  width: 40px;
  background-color: #1ba74d;
} */


/* .node-type-link  > a:before {
  content: "";
  display: block;
  position: absolute;
  width: 140px;
  top: 29px;
  height: 3px;
  background: #1ba74d;
  visibility: hidden;
  transform: scaleX(0);
  transition: .25s linear;
}
.node-type-link  > a:hover:before,
.node-type-link  > a:focus:before {
  visibility: visible;
  transform: scaleX(1);
} */


